Repository hse-algo-24-crow/manual-tasks-crow, pull requests merged in 2024-12, with the labels that each got.

#4 python-gang task-3 variant 1
  task-3/python-gang.md
Labels: python-gang

#3 Bubliki task 2
  task-2/bubliki.md
Labels: bubliki

#6 Выполнили 3 задание
  task-3/goidaz.md
Labels: goidaz

#5 Cotogrammers Задание 4
  task-4/cotogrammers.md
Labels: cotogrammers

#7 Выполнила задание №3. (Головина)
  task-3/bubliki.md
Labels: bubliki

#9 Решение 4 задание 2 вариант
  task-4/python-gang.md
Labels: python-gang

#14 Решение задания 5, вариант 9
  task-5/python-gang.md
Labels: python-gang

#15 Add files via upload
  task-5/biba-boba.md
Labels: biba-boba

#12 winx
  task-5/winx.md
Labels: winx

#16 Cotogrammers Задание 5
  task-5/cotogrammers.md
Labels: cotogrammers

#17 Отправляю четвёртое задание. Головина
  task-4/bubliki.md
Labels: bubliki

#18 Bubliki task 5
  task-5/bubliki.md
Labels: bubliki

#19 Imporsters task 5 done
  task-5/imposters.md
Labels: imposters

#22 Digital racers task 5
  task-5/Digital-racers.md
Labels: questions, digital-racers
