Repository hse-algo-24-crow/manual-tasks-crow, pull requests merged in 2025-01, with the labels that each got.

#23 winx-task-6
  task-6/winx.md
Labels: winx

#26 python-gang
  task-6/python-gang.md
Labels: python-gang

#24 Digital racers task 6
  task-6/digital-racers.md
Labels: digital-racers

#25 Задание 6 на проверку от Головиной
  task-6/bubliki.md
Labels: bubliki

#29 задание 7 winx
  task-7/winx.md
Labels: winx

#30 Create biba-boba-task7.md
  task-7/biba-boba-task7.md
Labels: biba-boba

#31 python-gang
  task-7/python-gang.md
Labels: python-gang

#32 Выполнили Головина и Семиков
  task-7/bubliki.md
Labels: bubliki

#38 python-gang
  task-8/python-gang.md
Labels: python-gang

#37 задание 7
  task-7/solution.md
Labels: digital-racers

#39 задание 8
  task-8/winx.md
Labels: winx

#40 tupem task 8
  task-8/tupem.md
Labels: tup'em

#41 Cotogrammers задание 8
  task-8/cotogrammers.md
Labels: cotogrammers

#42 Add files via upload
  task-8/biba-boba-task-8.md
Labels: biba-boba

#43 Выполнили задание Головина и Семиков
  task-8/bubliki.md
Labels: bubliki
