Repository hse-algo-24-crow/manual-tasks-crow, pull requests merged in 2025-03, with the labels that each got.

#88 Выполнили задание Головина и Семиков
  task-12/bubliki.md
Labels: bubliki

#89 Imposters task 12
  task-12/imposters.md
Labels: imposters

#68 Выполнили задание 10
  task-10/goidaz.md
Labels: goidaz

#94 winx
  task-13/winx.md
Labels: winx

#95 Cotogrammers Задание 13
  task-13/cotogrammers.md
Labels: cotogrammers

#99 Imposters task 13
  task-13/imposters.md
Labels: imposters

#100 Выполнили задание Головина и Семиков
  task-13/bubliki.md
Labels: bubliki

#101 biba-boba-task-13
  task-13/biba-boba.md
Labels: biba-boba

#102 Решение задания №13 - tupem
  task-13/tupem.md
Labels: tup'em

#104 winx
  task-14/winx.md
Labels: winx

#105 task-13 python gang
  task-13/python-gang.md
Labels: python-gang

#106 Cotogrammers Задание 14
  task-14/cotogrammers.md
Labels: cotogrammers

#107 Решение task-14-v1
  task-14/tupem.md
Labels: tup'em

#110 Выполнили задание Головина и Семиков
  task-14/bubliki.md
Labels: bubliki

#112 Добавлено решение задачи task-13 от команды goidaz
  task-13/goidaz.md
Labels: goidaz
