Repository hse-algo-24-crow/manual-tasks-crow, pull requests merged in 2025-02, with the labels that each got.

#47 winx
  task-9/winx.md
Labels: winx

#48 задание 8
  task-8/digital-racers.md
Labels: digital-racers

#49 задание 9 python-gang
  task-9/python-gang.md
Labels: python-gang

#50 Cotogrammers Задание 9
  task-9/cotogrammers.md
Labels: cotogrammers

#51 Решение task-9-v-2
  task-9/tupem.md
Labels: tup'em

#36 Выполнили задание 7
  task-7/goidaz.md
Labels: goidaz

#53 Выполнили задание Головина и Семиков
  task-9/bubliki.md
Labels: bubliki

#52 biba-boba-task-9 completed
  task-9/biba-boba-task-9.md
Labels: biba-boba

#57 winx
  task-10/winx.md
Labels: winx

#58 Cotogrammers Задание 10
  task-10/cotogrammers.md
Labels: cotogrammers

#59 Imposters task 10
  task-10/imposters.md
Labels: imposters

#61 задание готово 10
  task-10/digital-racers.md
Labels: digital-racers

#62 First
  task-10/biba-boba.md
Labels: biba-boba

#67 Выполнили Головина и Семиков
  task-10/bubliki.md
Labels: bubliki

#72 Решение задания № 11+ - tupem
  task-11-plus/tupem.md
Labels: tup'em

#77 Решение задания №11 - tupem
  task-11/tupem.md
Labels: tup'em

#73 Cotogrammers Задание 11
  task-11/cotogrammers.md
Labels: cotogrammers

#75 Задание №9
  task-9/milty-task-9.md
Labels: milty-bubble-tea-changan

#78 Imposters task 11 done
  task-11/imposters.md
Labels: imposters

#54 Выполнили задание 9
  task-9/goidaz.md
Labels: questions, goidaz

#70 winx
  task-11/winx.md
Labels: winx

#71 winx
  task-11-plus/winx.md
Labels: winx

#79 Выполнили Головина и Семиков
  task-11/bubliki.md
Labels: bubliki

#80 Task 11
  task-11/biba-boba.md
Labels: biba-boba

#83 task 11 python gang)
  task-11/python-gang.md
Labels: python-gang

#85 Cotogrammers Задание 12
  task-12/cotogrammers.md
Labels: cotogrammers

#87 Add files via upload
  task-12/biba-boba-task-12.md
Labels: biba-boba
